.intro {
    overflow-x: hidden;

    &__img-wrap {
        margin: 16vw 0 20vw;
    }

    &__img {
        width: 100%;
        max-width: 900px;
        transform: scale(1.5) translateX(60px);
    }

    &__title {
        margin-bottom: 10px;
        font-size: 2rem;
        line-height: 2.3rem;
        text-align: center;
    }

    &__text {
        color: $color-neutral-gray;
        text-align: center;
    }

    &__btn {
        margin-top: 30px;
    }

    @media screen and (min-width: 1440px) {
        &__container {
            display: flex;
            margin-top: 50px;
        }

        &__img-wrap {
            flex-basis: 45%;
            order: 1;
            margin: 0;
        }

        &__img {
            transform: scale(1.6) translateX(60px);
        }

        &__text-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__title {
            font-size: 4rem;
            line-height: 4.5rem;
            text-align: left;
        }

        &__text {
            width: 80%;
            text-align: left;
        }

        &__btn {
            margin: 30px auto 0 0;
        }
    }
}