$color-primary-cyan: hsl(180, 66%, 49%);
$color-primary-violet: hsl(257, 27%, 26%);

$color-secondary-red: hsl(0, 87%, 67%);

$color-neutral-gray: hsl(0, 0%, 75%);
$color-nautral-grayish-violet: hsl(257, 7%, 63%);
$color-nautral-very-dark-blue: hsl(255, 11%, 22%);
$color-nautral-very-dark-violet: hsl(260, 8%, 14%);

$font-size-default: 18px;
$font-family-default: 'Poppins', sans-serif;